<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            
            <section name="Toltech.App.Properties.BarChartSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Toltech.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        
        <Toltech.App.Properties.BarChartSettings>
            <setting name="ColumnFill1Argb" serializeAs="String">
                <value>-16711936</value>
            </setting>
            <setting name="ColumnFill2Argb" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColumnFill3Argb" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColumnOutlineArgb" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ColumnStrokeThickness" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LineStrokeArgb" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LineStrokeThickness" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LineGeometrySize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LineGeometryFillArgb" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LineGeometryStrokeArgb" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HideLineSerie" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BarWidthThickness" serializeAs="String">
                <value>45</value>
            </setting>
        </Toltech.App.Properties.BarChartSettings>
        <Toltech.App.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>fr</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Light</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultUnit" serializeAs="String">
                <value>Millimeter</value>
            </setting>
            <setting name="DensityUnit" serializeAs="String">
                <value>KgPerCubicMeter</value>
            </setting>
            <setting name="AngleUnit" serializeAs="String">
                <value>Degre</value>
            </setting>
        </Toltech.App.Properties.Settings>
    </userSettings>
</configuration>